<section>

  <h3 id="contacto">Contacto</h3>

  <hr class="barra">

  <div class=bienvenida>
    {{ site.data.settings.contacto | markdownify }}
    {{ site.data.settings.tlf | markdownify }}
    {{ site.data.settings.fax | markdownify }}
    {{ site.data.settings.direccion | markdownify }}
  </div>

  <hr style="margin: 0px auto 50px" class="barra">

<form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

  <fieldset class="contact-info-group">

    <label><span>Nombre</span>
    <input type="text" name="name"></label>

    <label><span>Email</span>
    <input type="email" name="_replyto"></label>

  </fieldset>

  <label><span>Mensaje</span>
  <textarea name="message"></textarea></label>

  <fieldset class="submit-wrap">
    <input type="submit" value="Enviar">
  </fieldset>

</form>

</section>
