<section>

  <h3 id="I+D">Investigación y Desarrollo</h3>

  <div class="inv-wrap">


    <div class="inv-content">

      <figure class="logo-inst">
        <img src="{{ site.github.url }}/assets/img/quiasa.png" alt="logo-quiasa">
      </figure>

      <div class="inv-text">
	      <p>QUIASA participó en el proyecto en Fincyt 134-FINCyT-IA-2013 desarrollando la función de coordinación en la investigación y caracterización de nanomateriales industriales.

        <p>Se desarrollaron una serie de trabajos experimentales y se generó entre otros el Laboratorio de Nanotecnología e Innovación Tecnológica de la Universidad Nacional Mayor de San Marcos</p>

	      <p>La caracterización y validación de nanomateriales industriales y su potencial aplicación en el mercado peruano dió como resultado los siguientes estudios</p>

      <div class="tesis">
        <p>> Síntesis y caracterización de nanopartículas de óxido de zinc obtenidas por el método de precipitación para su aplicación en pintura esmalte comercial</p>
        <p>> Estudio de catalizadores basados en nanopartículas de TiO<sub>2</sub> para la degradación fotocatalítica del colorante cibacrón navy H-2G presente en efluentes textiles</p>
	      <p>> Incorporación de nanopartículas dióxido de silicio al cemento Portland Tipo I para mejorar propiedades físicas</p>
      </div>

      <hr class="bar">

      <p>A su vez es miembro del Comité Técnico Nacional 144 - Nanotecnología</p>
    </div>
  </div>

</section>
